@model CoursesPlatform.Models.Razor.AccountRemovalEmail

<!DOCTYPE html>
<html>
<head>
</head>
<body style="padding: 20px; background-color: black; color: white">
    <div>
        <div>
            <p style="font-size: large">Hi, <span style="font-style: italic; font-weight: 900">@Model.User.Name @Model.User.Surname</span> !</p>

            <p>
                We inform you that your account 
                <span style="font-style: italic; font-weight: 600">
                    has been deleted
                </span>.
            </p>

            <p>
                <br />
                Good day!
            </p>
        </div>
</body>
</html>