@model CoursesPlatform.Models.Razor.CourseStartEmail

<!DOCTYPE html>
<html>
<head>
</head>
<body style="padding: 30px; background-color: black; color: white; text-align: center">
    <h2 style="margin-bottom: 50px">Courses platform</h2>

    <p>
        «@Model.CourseTitle» course will start in a
        <span style="font-style: italic; font-weight: 600">
            @Model.StartIn
        </span>
        . See you at training.
    </p>

    <br />
    <p>Have a nice day!</p>
</body>
</html>