
.contentBlock{
    border-radius: 8px;
    position: absolute;
    background-size: 100% 100%;
    width: 85%;
    /* height: 70%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}